body {
    background:purple;
    font-family:Arial, Helvetica,vsans-serif;
}

.assignment {
    display:flex;
    padding: 10px;
    margin: 10px;
    background-color: beige;
}
.assignment img {
    width: 200px;
    padding: 10px;
  
}

h1 {
    color: blue;
    text-align: center;
}